.contact-section {
  padding: 2rem;
  background-color: #fdfbf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
}

.contact-header {
  font-size: 2rem;
  color: #164e4e;
  margin-bottom: 1rem;
}

.contact-body {
  font-size: 1.2rem;
  color: #164e4e;
  line-height: 2rem;
}

.contact-button {
  color: #164e4e;
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 3px solid #164e4e;
}

.contact-button:hover {
  background-color: #164e4e;
  color: #fdfbf5;
}

.header1 {
  width: 50%;
}
